name: review_game_app
description: Aplikasi review game dengan home, detail, favorite, dan profile.
publish_to: 'none'


version: 1.0.0+1


environment:
sdk: '>=3.0.0 <4.0.0'


dependencies:
flutter:
sdk: flutter
cupertino_icons: ^1.0.6
provider: ^6.1.2
google_fonts: ^6.2.1
http: ^1.2.1
shared_preferences: ^2.0.15


dev_dependencies:
flutter_test:
sdk: flutter


flutter:
uses-material-design: true


assets:
- assets/data/games.json
- assets/images/